In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df2023 = pd.read_csv('2023.csv')
df2021 = pd.read_json('2021.json')

**Lets start wth 2023 dataset**

In [3]:
df2023.head()

,Area,Construction,Room,Warehouse,Parking,Elevator,Address,Price
0,153,1393,3,True,True,True,۱ ساعت پیش در تهران، درکه,۱۸٬۳۶۰٬۰۰۰٬۰۰۰ تومان
1,418,1382,4,True,True,True,۱ ساعت پیش در تهران، زعفرانیه,۱۳۰٬۰۰۰٬۰۰۰٬۰۰۰ تومان
2,57,1385,2,False,False,True,۱ ساعت پیش در تهران، جابری,۲٬۶۰۰٬۰۰۰٬۰۰۰ تومان
3,193,1371,3,False,False,True,۱ ساعت پیش در تهران، فرمانیه,۲۳٬۰۰۰٬۰۰۰٬۰۰۰ تومان
4,62,1401,1,True,True,True,۱ ساعت پیش در تهران، دهکده المپیک، بزرگراه همت...,۱٬۴۱۰٬۰۰۰٬۰۰۰ تومان

In [4]:
df2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94036 entries, 0 to 94035
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area          94036 non-null  object
 1   Construction  94036 non-null  object
 2   Room          94036 non-null  object
 3   Warehouse     94036 non-null  object
 4   Parking       94036 non-null  object
 5   Elevator      94036 non-null  object
 6   Address       94036 non-null  object
 7   Price         94036 non-null  object
dtypes: object(8)
memory usage: 5.7+ MB

In [5]:
df2023.describe()

,Area,Construction,Room,Warehouse,Parking,Elevator,Address,Price
count,94036,94036,94036,94036,94036,94036,94036,94036
unique,959,63,9,5,5,5,12771,5656
top,100,1401,2,True,True,True,۱ هفته پیش در تهران، پونک,۶٬۵۰۰٬۰۰۰٬۰۰۰ تومان
freq,1868,17897,31724,53405,57479,62286,1381,867

**Checking the columns datatype and distribution in detail:**

In [6]:
df2023['Area'].unique() # we should delete records that have less than 20 meter area and have string data

array(['153', '418', '57', '193', '62', '115', '138', '295', '155', '146',
       '97', '48', '200', '135', '114', '82', '260', '118', '107', '120',
       '58', '90', '65', '63', '102', '72', '230', '85', '70', '78', '51',
       '44', '92', '136', '150', '210', '145', '56', '110', '156', '101',
       '108', 'Area', '105', '164', '130', '128', '53', '320', '420',
       '77', '75', '61', '180', '68', '160', '133', '140', '121', '186',
       '60', '80', '125', '103', '240', '141', '94', '69', '148', '500',
       '228', '1500', '106', '250', '194', '350', '67', '98', '131',
       '147', '74', '170', '96', '192', '325', '190', '95', '45', '86',
       '315', '215', '54', '162', '73', '112', '550', '76', '123', '168',
       '50', '47', '157', '158', '225', '270', '235', '285', '104', '71',
       '185', '100', '175', '116', '171', '113', '288', '205', '126',
       '173', '137', '290', '119', '166', '195', '220', '165', '40', '55',
       '46', '42', '84', '255', '81', '122', '129', '109', '340', '152',
       '87', '79', '49', '66', '111', '217', '64', '300', '139', '143',
       '400', '34', '450', '91', '134', '93', '83', '124', '221', '30',
       '149', '333', '275', '238', '88', '198', '89', '188', '132', '380',
       '218', '38', '163', '330', '41', '600', '117', '167', '720', '52',
       '310', '245', '950', '203', '20', '99', '296', '43', '236', '239',
       '199', '280', '253', '610', '410', '154', '59', '246', '222',
       '184', '460', '202', '935', '343', '479', '183', '476', '305',
       '127', '452', '159', '323', '312', '37', '261', '144', '189',
       '161', '36', '142', '207', '800', '187', '172', '224', '3000',
       '151', '39', '201', '345', '208', '243', '212', '392', '311',
       '177', '640', '223', '174', '445', '264', '248', '176', '480',
       '211', '226', '267', '265', '196', '590', '232', '258', '3400',
       '31', '178', '360', '388', '182', '570', '197', '626', '244',
       '474', '552', '633', '169', '470', '2300', '251', '353', '247',
       '370', '241', '233', '322', '1350', '1000', '1050', '2250', '375',
       '33', '428', '430', '308', '335', '242', '655', '35', '214', '5',
       '263', '227', '179', '181', '213', '1200', '378', '237', '299',
       '321', '585', '229', '356', '520', '191', '405', '850', '277',
       '278', '475', '262', '423', '1180', '216', '490', '252', '575',
       '485', '297', '206', '415', '1750', '580', '289', '209', '530',
       '13000', '1055', '219', '15000', '317', '16000', '314', '346',
       '307', '256', '390', '438', '5000', '318', '1300', '20000', '324',
       '284', '3650', '249', '204', '257', '675', '425', '313', '385',
       '750', '975', '287', '700', '411', '365', '273', '472', '1400',
       '900', '268', '1120', '421', '354', '286', '915', '828', '835',
       '945', '745', '444', '386', '486', '810', '279', '399', '7000',
       '4000', '274', '283', '303', '361', '269', '654', '496', '1150',
       '960', '2400', '540', '352', '271', '1800', '309', '266', '336',
       '555', '366', '436', '1270', '965', '680', '2000', '780', '495',
       '454', '339', '4', '383', '294', '32', '560', '584', '426', '276',
       '412', '1900', '930', '880', '1100', '459', '448', '467', '417',
       '4380', '332', '3375', '254', '355', '348', '564', '830', '1030',
       '466', '10', '920', '1850', '536', '419', '272', '1600', '306',
       '298', '440', '1700', '231', '17000', '334', '326', '337', '349',
       '338', '282', '363', '316', '535', '234', '635', '645', '327',
       '302', '259', '23', '840', '21', '599', '673', '471', '351', '630',
       '458', '396', '422', '451', '291', '367', '28', '492', '698',
       '435', '510', '735', '15', '473', '990', '465', '29', '362',
       '4900', '292', '16', '1060', '533', '1250', '1035', '11000', '870',
       '25', '505', '548', '725', '398', '433', '790', '499', '413', '1',
       '8', '526', '344', '1450', '3040', '304', '462', '728', '1235',
       '281', '650', '416', '10000', '1380', '12800', '925', '403', '342',
       '395', '488', '19', '615', '1593', '387', '812', '369', '489',
       '414', '1920', '512', '497', '372', '1575', '2600', '331', '12000',
       '620', '625', '455', '1256', '3110', '5100', '2886', '1980', '875',
       '710', '424', '1335', '543', '341', '685', '770', '1230', '2800',
       67, 64, 140, 85, 55, 120, 126, 115, 121, 92, 51, 81, 113, 39, 144,
       131, 132, 114, 72, 135, 45, 60, 73, 150, 128, 145, 90, 58, 166,
       110, 154, 100, 78, 183, 180, 170, 42, 56, 205, 109, 65, 98, 300,
       125, 159, 1200, 66, 147, 133, 190, 122, 71, 52, 260, 84, 195, 255,
       75, 174, 82, 570, 86, 155, 220, 127, 44, 57, 108, 112, 91, 62, 50,
       222, 200, 158, 118, 49, 63, 149, 138, 116, 79, 105, 53, 130, 119,
       61, 74, 106, 70, 93, 143, 235, 285, 214, 80, 36, 129, 83, 186, 95,
       238, 102, 160, 146, 94, 134, 77, 41, 175, 68, 234, 675, 185, 59,
       187, 142, 111, 153, 101, 259, 350, 88, 137, 40, 89, 165, 33, 107,
       97, 152, 360, 206, 176, 104, 211, 103, 375, 139, 69, 117, 54, 280,
       240, 46, 141, 35, 43, 550, 1000, 233, 215, 247, 96, 124, 157, 212,
       156, 218, 164, 87, 161, 178, 38, 230, 47, 188, 148, 181, 237, 20,
       177, 270, 208, 76, 202, 48, 36500, 340, 167, 99, 245, 253, 198,
       172, 232, 207, 123, 330, 248, 310, 320, 271, 480, 210, 236, 460,
       34, 540, 400, 32, 224, 365, 380, 342, 162, 193, 136, 184, 37, 19,
       30, 168, 286, 171, 250, 420, 470, 173, 288, 223, 197, 225, 318,
       264, 277, 151, 525, 163, 680, 414, 275, 355, 322, 560, 204, 305,
       445, 650, 287, 730, 410, 1185, 960, 450, 182, 213, 465, 256, 246,
       520, 10000, 244, 239, 189, 194, 263, 304, 500, 268, 408, 192, 1700,
       345, 169, 6000, 2700, 475, 290, 346, 243, 430, 217, 221, 295, 196,
       385, 528, 231, 324, 4700, 265, 201, 228, 325, 390, 600, 219, 229,
       249, 179, 313, 328, 274, 595, 323, 352, 292, 3, 315, 216, 191, 266,
       276, 307, 565, 490, 267, 326, 370, 555, 242, 1150, 199, 25, 257,
       425, 261, 312, 714, 417, 800, 335, 1050, 308, 31, 808, 227, 1800,
       466, 1100, 311, 241, 291, 364, 209, 440, 428, 472, 510, 830, 810,
       273, 28, 278, 366, 317, 296, 316, 2100, 384, 13000, 451, 269, 452,
       332, 1500, 298, 2142, 281, 203, 258, 418, 254, 226, 3000, 252,
       1620, 750, 282, 348, 726, 415, 333, 272, 2000, 441, 299, 369, 840,
       580, 395, 405, 16000, 20000, 344, 15500, 464, 429, 1400, 284, 262,
       7, 825, 251, 6, 331, 397, 2420], dtype=object)

In [7]:
df2023 = df2023[~(df2023['Area'] == 'Area')] 
df2023['Area']  = df2023['Area'].astype('int64')
df2023 = df2023[(df2023['Area'] >20) & (df2023['Area'] < 2000)] 
df2023['Area'].describe().apply(lambda x: f"{x:,.1f}")

count    93,876.0
mean        120.6
std          79.7
min          21.0
25%          74.0
50%         106.0
75%         141.0
max       1,980.0
Name: Area, dtype: object

In [8]:
df2023['Construction'].unique() # we should delete records that are string the min and max of constyear make sense so we can keep all data

array(['1393', '1382', '1385', '1371', '1401', '1400', '1395', '1389',
       '1387', '1399', '1384', '1394', '1375', '1374', '1390', '1397',
       '1396', '1383', '1386', '1392', '1391', '1398', '1388', '1381',
       '1380', '1377', '1372', '1379', '1378', '1373', '1376', 1388, 1380,
       1398, 1401, 1399, 1397, 1382, 1387, 1396, 1395, 1383, 1381, 1394,
       1385, 1391, 1390, 1377, 1392, 1400, 1389, 1393, 1384, 1386, 1378,
       1372, 1371, 1379, 1375, 1374, 1376, 1373], dtype=object)

In [9]:
df2023['Construction'] = df2023['Construction'].astype('int64')

In [10]:
df2023['Room'].unique() # we have to delete string datasets and change all datatype to int32

array(['3', '4', '2', '1', 2, 3, 1, 4], dtype=object)

In [11]:
df2023['Room'] = df2023['Room'].astype('int64')  
df2023['Room'].unique()

array([3, 4, 2, 1], dtype=int64)

In [12]:
df2023['Warehouse'].unique()  # we have to change all datatype to boolean or string

array(['True', 'False', True, False], dtype=object)

In [ ]:
df2023['Warehouse'] = df2023['Warehouse'].astype(str)  
df2023['Warehouse'].unique()

array(['True', 'False'], dtype=object)

In [14]:
df2023['Parking'].unique()  # we have to change all datatype to boolean or string

array(['True', 'False', False, True], dtype=object)

In [ ]:
df2023['Parking'] = df2023['Parking'].astype(str)  
df2023['Parking'].unique()

array(['True', 'False'], dtype=object)

In [16]:
df2023['Elevator'].unique()  # we have to change all datatype to boolean or string

array(['True', 'False', True, False], dtype=object)

In [17]:
df2023['Elevator'] = df2023['Elevator'].astype(str)  
df2023['Elevator'].unique()

array(['True', 'False'], dtype=object)

In [18]:
df2023['Address'].unique() # we hve to split data by , and delete all numbers and spaces after and before district

array(['۱ ساعت پیش در تهران، درکه', '۱ ساعت پیش در تهران، زعفرانیه',
       '۱ ساعت پیش در تهران، جابری', ...,
       '۲ هفته پیش در تهران، سنگلج، خیابان مختاری شرقی (خ. وحدت اسلامی)',
       '۳ روز پیش در تهران، امیرآباد، خیابان کارگر شمالی (امیرآباد شمالی) (خیابان امیرآباد شمالی)',
       '۲ هفته پیش در تهران، جردن، کوچه خرسند (کوچه کمبوجیه)'],
      dtype=object)

In [19]:
df2023['District'] = df2023['Address'].map(lambda x:str(x).split('،').pop(1).rstrip().lstrip())
df2023.head()

,Area,Construction,Room,Warehouse,Parking,Elevator,Address,Price,District
0,153,1393,3,True,True,True,۱ ساعت پیش در تهران، درکه,۱۸٬۳۶۰٬۰۰۰٬۰۰۰ تومان,درکه
1,418,1382,4,True,True,True,۱ ساعت پیش در تهران، زعفرانیه,۱۳۰٬۰۰۰٬۰۰۰٬۰۰۰ تومان,زعفرانیه
2,57,1385,2,False,False,True,۱ ساعت پیش در تهران، جابری,۲٬۶۰۰٬۰۰۰٬۰۰۰ تومان,جابری
3,193,1371,3,False,False,True,۱ ساعت پیش در تهران، فرمانیه,۲۳٬۰۰۰٬۰۰۰٬۰۰۰ تومان,فرمانیه
4,62,1401,1,True,True,True,۱ ساعت پیش در تهران، دهکده المپیک، بزرگراه همت...,۱٬۴۱۰٬۰۰۰٬۰۰۰ تومان,دهکده المپیک

In [20]:
df2023['Price'].unique()# we have to delete all , تومان  and all spaces before and after the data and convert the numbers to int64

array(['۱۸٬۳۶۰٬۰۰۰٬۰۰۰ تومان', '۱۳۰٬۰۰۰٬۰۰۰٬۰۰۰ تومان',
       '۲٬۶۰۰٬۰۰۰٬۰۰۰ تومان', ..., '۳٬۹۸۴٬۰۰۰٬۰۰۰ تومان',
       '۸٬۴۴۲٬۰۰۰٬۰۰۰ تومان', '۵٬۰۹۶٬۰۰۰٬۰۰۰ تومان'], dtype=object)

In [21]:
df2023 = df2023[~(df2023['Price'].str.contains(r'توافقی', regex=True) == True)]
df2023[df2023['Price'].str.contains(r'توافقی', regex=True) == True]

Empty DataFrame
Columns: [Area, Construction, Room, Warehouse, Parking, Elevator, Address, Price, District]
Index: []

In [22]:
import convert_numbers

def converter(x):  
    return convert_numbers.persian_to_english(x)  

# Clean and convert prices  
df2023['Price'] = df2023['Price'].str.replace('تومان|٬', '', regex=True).apply(converter)  

# Strip whitespace and convert to integer, handle conversion issues  
df2023['Price'] = df2023['Price'].apply(lambda x: x.strip()).astype('int64', errors='ignore')  

# Filter rows where Price column has numeric values  
df2023 = df2023[df2023['Price'].astype(str).str.contains(r'^\d+', regex=True)]

In [23]:
df2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93631 entries, 0 to 94035
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area          93631 non-null  int64
 1   Construction  93631 non-null  int64
 2   Room          93631 non-null  int64
 3   Warehouse     93631 non-null  object
 4   Parking       93631 non-null  object
 5   Elevator      93631 non-null  object
 6   Address       93631 non-null  object
 7   Price         93631 non-null  int64
 8   District      93631 non-null  object
dtypes: int64(4), object(5)
memory usage: 7.1+ MB

In [24]:
df2023['Price/Meter'] = df2023['Price'] / df2023['Area']
Price_District = df2023.groupby('District')['Price/Meter'].median().reset_index()
Price_District = Price_District.sort_values(by='Price/Meter',ascending=False)
Price_District['Price/Meter'] = Price_District['Price/Meter'].map(lambda x: f"{x:,.0f}")
Price_District.head(20)

          District  Price/Meter
135       زعفرانیه  195,652,174
301          ولنجک  185,300,000
29           الهیه  184,313,725
259        محمودیه  179,843,750
316       کامرانیه  167,567,568
288        نیاوران  156,862,745
242        فرمانیه  156,862,745
294        هزارسنگ  156,695,157
94      حصار بوعلی  154,700,855
27          اقدسیه  153,565,413
117           دروس  150,000,000
50       باغ فردوس  145,833,333
34   امامزاده قاسم  145,689,655
46          ایوانک  145,454,545
2         آجودانیه  143,210,750
149     سعادت‌آباد  141,666,667
205  شهرک پاسداران  137,728,596
119           دریا  135,593,220
122         دزاشیب  135,549,055
97            حکمت  135,504,202

**Lets Start The 2021 Year:**

In [25]:
df2021.head()

,district,token,sub_category,category,business_type,price,credit,rent,title,location,area,year,room,floor,elevator,parking,storage,balcony,agency
0,پرند,AYlgrZxh,apartment-sell,residential-sell,personal,2.400000e+08,NaN,NaN,هسا فول واریزی,{},84.0,1399.0,2.0,3.0,False,True,True,NaN,NaN
1,ستارخان,AYlUb95t,shop-rent,commercial-rent,personal,NaN,NaN,NaN,15 متر مغازه(زیر همکف) پاساژ طلا و جواهر الماس...,{},15.0,1390.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,الهیه,AYXM8Mkk,office-rent,commercial-rent,personal,NaN,NaN,NaN,فرشته اجاره۶۶متر سنداداری,{},66.0,1397.0,0.0,6.0,True,True,False,NaN,NaN
3,فیروزکوه,AYO0uYGH,house-villa-sell,residential-sell,personal,4.000000e+09,NaN,NaN,ویلا باغ زریندشت فیروزکوه,{},1300.0,1395.0,3.0,NaN,NaN,True,True,1.0,NaN
4,ورامین,AYlcbu9U,suite-apartment,temporary-rent,personal,NaN,NaN,NaN,اجاره سوییت,{},2000.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df2021['sub_category'].unique()

array(['apartment-sell', 'shop-rent', 'office-rent', 'house-villa-sell',
       'suite-apartment', 'industry-agriculture-business-sell',
       'apartment-rent', 'plot-old', 'office-sell', 'shop-sell',
       'industry-agriculture-business-rent', 'presell',
       'house-villa-rent', 'villa', 'workspace', 'partnership',
       'services', 'utility', 'industrial', 'accounting-finance-legal',
       'jobs', 'shop-restaurant', 'administration-and-hr',
       'tv-and-stereo-furniture', 'garden-and-landscaping',
       'residential-rent', 'industrial-technology', 'craftsmen',
       'businesses', 'batch', 'care-health-beauty', 'residential-sell',
       'commercial-rent', 'parts-accessories', 'temporary-rent',
       'accounting-and-finance', 'building-and-garden', 'catering'],
      dtype=object)

In [27]:
df2021['category'].unique()

array(['residential-sell', 'commercial-rent', 'temporary-rent',
       'commercial-sell', 'residential-rent', 'real-estate-services',
       'root', 'for-the-home', 'equipments-and-machinery', 'jobs',
       'furniture-and-home-decore', 'services', 'real-estate',
       'businesses', 'vehicles'], dtype=object)

**There are lots of unrelated records in 2021 dataset that we should drop them:**
1. commercial-rent
2. businesses
3. equipments-and-machinery
4. for-the-home
5. furniture-and-home-decore
6. jobs
7. real-estate  > emporary-rent , residential-rent , commercial-rent
8. real-estate-services > partnership
9. residential-rent
10. root
11. services
12. temporary-rent
13. vehicles

In [28]:
categoryCheck = df2021.groupby(['category' , 'sub_category'])['sub_category'].count()
categoryCheck.to_frame()

                                                              sub_category
category                  sub_category
businesses                batch                                          3
commercial-rent           industry-agriculture-business-rent          1478
                          office-rent                                12643
                          shop-rent                                   8575
commercial-sell           industry-agriculture-business-sell          4257
                          office-sell                                 6680
                          shop-sell                                   8188
equipments-and-machinery  industrial                                     1
for-the-home              building-and-garden                            1
                          utility                                        1
furniture-and-home-decore tv-and-stereo-furniture                        1
jobs                      accounting-finance-legal                       6
                          administration-and-hr                          1
                          care-health-beauty                             2
                          industrial-technology                          1
                          shop-restaurant                                1
real-estate               commercial-rent                                1
                          residential-rent                               1
                          residential-sell                               2
                          temporary-rent                                 1
real-estate-services      partnership                                 1755
                          presell                                    11017
residential-rent          apartment-rent                             82577
                          house-villa-rent                            3568
residential-sell          apartment-sell                            195497
                          house-villa-sell                           11690
                          plot-old                                   21948
root                      businesses                                     2
                          jobs                                           2
                          services                                      14
services                  accounting-and-finance                         1
                          catering                                       1
                          craftsmen                                      2
                          garden-and-landscaping                         1
temporary-rent            suite-apartment                             1593
                          villa                                        590
                          workspace                                    229
vehicles                  parts-accessories                              1

In [29]:
unrelated_sub_categories = [  
    'commercial-rent', 'businesses', 'equipments-and-machinery',   
    'for-the-home', 'furniture-and-home-decore', 'jobs',   
    'residential-rent', 'root', 'services',   
    'temporary-rent', 'vehicles' 
]  
  
filtered_df = df2021[(~df2021['category'].isin(unrelated_sub_categories)) & (~df2021['sub_category'].isin(['partnership','emporary-rent' , 'residential-rent' , 'commercial-rent']))]

In [30]:
filtered_df

,district,token,sub_category,category,business_type,price,credit,rent,title,location,area,year,room,floor,elevator,parking,storage,balcony,agency
0,پرند,AYlgrZxh,apartment-sell,residential-sell,personal,2.400000e+08,NaN,NaN,هسا فول واریزی,{},84.0,1399.0,2.0,3.0,False,True,True,NaN,NaN
3,فیروزکوه,AYO0uYGH,house-villa-sell,residential-sell,personal,4.000000e+09,NaN,NaN,ویلا باغ زریندشت فیروزکوه,{},1300.0,1395.0,3.0,NaN,NaN,True,True,1.0,NaN
5,چیتگر,AYlkrHbP,industry-agriculture-business-sell,commercial-sell,real-estate-business,2.270000e+11,NaN,NaN,۵۵۰۵ متر زمین با دستور نقشه اداری تجاری چیتگر,{},5505.0,1399.0,4.0,NaN,NaN,NaN,NaN,NaN,سرمایه گذاری مسکن برنا
6,فیروزکوه,AYO4u7iR,industry-agriculture-business-sell,commercial-sell,personal,1.250000e+09,NaN,NaN,باغ فروشی زریندشت فیروزکوه,{},1360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,نازی‌آباد,AYlcbIE5,apartment-sell,residential-sell,personal,1.400000e+09,NaN,NaN,آپارتمان ۵۳ متری هزاردستگاه.تک واحدی فول,"{'latitude': '35.64359', 'longitude': '51.4047...",53.0,1394.0,1.0,3.0,True,True,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372324,رباط کریم,QXY_bR-C,industry-agriculture-business-sell,commercial-sell,personal,NaN,NaN,NaN,کارگاه 1000متری در جاده قرمز و ینگ کار,{},1000.0,1395.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
372326,شهرک غرب,AXATghDR,shop-sell,commercial-sell,None,NaN,NaN,NaN,"لیدوما, 130 متر تجاری",{},133.0,1395.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
372327,رباط کریم,QXYHcBse,industry-agriculture-business-sell,commercial-sell,personal,NaN,NaN,NaN,گاراژ2800متری در سلطان آباد جاده ساوه,{},2800.0,1385.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
372329,آجودانیه,QX9szhxq,presell,real-estate-services,personal,NaN,NaN,NaN,٣٥٠ متر آجودانیه ( پیش فروش) تحویل ٦ ماهه,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372331,نیاوران,gXHY8KlA,apartment-sell,residential-sell,personal,NaN,NaN,NaN,نیاوران شمال کاخ 215 متر با سه پارکینگ خوش نقشه,{},215.0,1391.0,3.0,4.0,True,True,True,NaN,NaN

In [31]:
categoryCheck2 = filtered_df.groupby(['category' , 'sub_category'])['sub_category'].count()
categoryCheck2.to_frame()

                                                         sub_category
category             sub_category
commercial-sell      industry-agriculture-business-sell          4257
                     office-sell                                 6680
                     shop-sell                                   8188
real-estate          residential-sell                               2
                     temporary-rent                                 1
real-estate-services presell                                    11017
residential-sell     apartment-sell                            195497
                     house-villa-sell                           11690
                     plot-old                                   21948

In [32]:
columns_to_select = ['area', 'year', 'room', 'storage', 'parking', 'elevator', 'district', 'price']  
df2021_filtered = filtered_df[columns_to_select]  
df2021_filtered

          area    year  room storage parking elevator   district         price
0         84.0  1399.0   2.0    True    True    False       پرند  2.400000e+08
3       1300.0  1395.0   3.0    True    True      NaN   فیروزکوه  4.000000e+09
5       5505.0  1399.0   4.0     NaN     NaN      NaN      چیتگر  2.270000e+11
6       1360.0     NaN   NaN     NaN     NaN      NaN   فیروزکوه  1.250000e+09
7         53.0  1394.0   1.0    True    True     True  نازی‌آباد  1.400000e+09
...        ...     ...   ...     ...     ...      ...        ...           ...
372324  1000.0  1395.0   0.0     NaN     NaN      NaN  رباط کریم           NaN
372326   133.0  1395.0   1.0     NaN     NaN      NaN   شهرک غرب           NaN
372327  2800.0  1385.0   0.0     NaN     NaN      NaN  رباط کریم           NaN
372329     NaN     NaN   NaN     NaN     NaN      NaN   آجودانیه           NaN
372331   215.0  1391.0   3.0    True    True     True    نیاوران           NaN

[259280 rows x 8 columns]

In [33]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 259280 entries, 0 to 372331
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   district       259280 non-null  object
 1   token          259280 non-null  object
 2   sub_category   259280 non-null  object
 3   category       259280 non-null  object
 4   business_type  259254 non-null  object
 5   price          154363 non-null  float64
 6   credit         0 non-null       float64
 7   rent           0 non-null       float64
 8   title          259280 non-null  object
 9   location       259280 non-null  object
 10  area           248248 non-null  float64
 11  year           223490 non-null  float64
 12  room           224629 non-null  float64
 13  floor          194281 non-null  float64
 14  elevator       194296 non-null  object
 15  parking        205385 non-null  object
 16  storage        205354 non-null  object
 17  balcony        11084 non-null   float64
 18  agency         95258 non-null   object
dtypes: float64(8), object(11)
memory usage: 39.6+ MB

In [34]:
filtered_df['area'].unique() #The buildings above 2000 meter are not still apartments so we will filer area > 2000 and <20 meter

array([  84., 1300., 5505., ...,  569.,  964.,  503.])

In [35]:
df2021_filtered = df2021_filtered[(df2021_filtered['area'] >20) & (df2021_filtered['area'] < 2000)]

In [36]:
filtered_df['parking'].unique() #Lets standardize all values

array([True, nan, False, 'دارد', 'ندارد'], dtype=object)

In [37]:
df2021_filtered['parking'] = df2021_filtered['parking'].replace({'ندارد':'False' , 'دارد':'True'}).astype('str').replace({'nan':np.nan})

In [38]:
df2021_filtered['parking'].unique()

array(['True', nan, 'False'], dtype=object)

In [39]:
filtered_df['storage'].unique()

array([True, nan, False, 'دارد', 'ندارد'], dtype=object)

In [40]:
df2021_filtered['storage'] = df2021_filtered['storage'].replace({'ندارد':'False' , 'دارد':'True'}).astype('str').replace({'nan':np.nan})

In [41]:
df2021_filtered['storage'].unique()

array(['True', nan, 'False'], dtype=object)

In [42]:
filtered_df['room'].unique()

array([ 2.,  3.,  4., nan,  1.,  0.])

In [43]:
filtered_df['year'].unique()

array([1399., 1395.,   nan, 1394., 1385., 1382., 1397., 1374., 1390.,
       1392., 1388., 1383., 1370., 1391., 1375., 1387., 1398., 1386.,
       1384., 1389., 1371., 1393., 1373., 1396., 1379., 1380., 1381.,
       1377., 1378., 1376., 1372.])

In [44]:
filtered_df['elevator'].unique()

array([False, nan, True, 'دارد'], dtype=object)

In [45]:
df2021_filtered['elevator'] = df2021_filtered['elevator'].replace({'ندارد':'False' , 'دارد':'True' }).astype('str').replace({'nan':np.nan})

In [46]:
df2021_filtered['elevator'].unique()

array(['False', nan, 'True'], dtype=object)

In [47]:
filtered_df['district'].unique()

array(['پرند', 'فیروزکوه', 'چیتگر', 'نازی\u200cآباد', 'آذربایجان', 'دروس',
       'آهنگ', 'سبلان', 'جردن', 'شهر ری - هاشم\u200cآباد',
       'دریاچه شهدای خلیج فارس', 'اندیشه', 'پلیس', 'دولاب', 'پردیس',
       'رباط کریم', 'اسفندیاری', 'بلوار کشاورز', 'شهریار', 'منیریه',
       'باغ فیض', 'زعفرانیه', 'نیاوران', 'ولنجک', 'شوش', 'ورامین',
       'سعادت\u200cآباد', 'تهران\u200cویلا', 'تهرانپارس غربی', 'سرو آزاد',
       'کوی فردوس', 'شهر ری - شهرک شهید مفتح', 'نارمک جنوبی',
       'شهرک ولیعصر', 'جنت\u200cآباد شمالی', 'تهران\u200cسر',
       'جنت\u200cآباد مرکزی', 'شهرک غرب', 'جنت\u200cآباد جنوبی', 'شهادت',
       'سیدخندان', 'کوهک', 'ستارخان', 'اتابک', 'دهکده المپیک', 'لواسان',
       'فشم', 'سلیمانی', 'کن', 'افسریه', 'زرگنده', 'گرگان', 'فرمانیه',
       'پیروزی', 'شهران جنوبی', 'مهرآباد جنوبی', 'فرحزاد', 'خلیج فارس',
       'تسلیحات', 'شهر قدس', 'امام حسین(ع)', 'مرادآباد', 'بومهن',
       'عباس\u200cآباد', 'حسن\u200cآباد', 'سلسبیل', 'آجودانیه', 'قیام',
       'حکیمیه', 'دروازه شمیران', 'قرچک', 'میدان ولیعصر',
       'خانی\u200cآباد نو', 'مسعودیه', 'پاکدشت', 'الهیه',
       'شهر ری - استخر', 'کرمان', 'شهرک فردوس', 'شهرک راه\u200cآهن',
       'زمزم', 'نارمک', 'رودهن', 'پونک', 'عبدل\u200cآباد',
       'گیشا (کوی نصر)', 'شادآباد', 'دریا', 'جوانمرد قصاب',
       'شهر ری - اقدسیه', 'فیروزآبادی', 'محمودیه', 'هاشمی',
       'شهرک فرهنگیان', 'جیحون', 'تهرانپارس شرقی', 'خاوران',
       'سازمان برنامه', 'دولتخواه', 'دولت\u200cآباد', 'شهر زیبا',
       'ظهیرآباد', 'جوادیه', 'نظام\u200cآباد', 'پاسداران', 'قیطریه',
       'شریف\u200cآباد', 'گمرک', 'صادقیه', 'یاخچی\u200cآباد', 'هروی',
       'ونک', 'حسین\u200cآباد', 'بریانک', 'میدان حر',
       'شهر ری - تقی\u200cآباد', 'سازمان آب', 'اختیاریه', 'ملک\u200cآباد',
       'تولید دارو', 'المهدی', 'شهران شمالی', 'فلاح', 'کاروان',
       'امیر بهادر', 'سرآسیاب مهرآباد', 'شهرک نفت (منطقه ۵)',
       'شهرک کیانشهر', 'عبدالله\u200cآباد', 'بهارستان', 'مولوی', 'درکه',
       'تهران\u200cنو', 'مرزداران', 'هفت حوض', 'آبشار تهران', 'خزانه',
       'وردآورد', 'آرژانتین', 'امیریه', 'شمس\u200cآباد', 'مشیریه',
       'قلمستان', 'نعمت\u200cآباد', 'امیرآباد', 'درب دوم', 'ازگل',
       'یوسف\u200cآباد', 'قیام\u200cدشت', 'امامت', 'استاد معین',
       'ابن بابویه', 'دیلمان', 'دریان\u200cنو', 'گلچین', 'طرشت', 'آبشار',
       'خاک سفید', 'امامزاده حسن(ع)', 'وحیدیه', 'گاندی', 'بلورسازی',
       'نواب', 'شیخ هادی', 'مجیدیه', 'ایوانک', 'شاهین', 'جلفا',
       'یافت\u200cآباد', 'خواجه نصیر طوسی', 'مخصوص', 'فاطمی', 'جی',
       'قنات\u200cکوثر', 'مبارک\u200cآباد بهشتی', 'دارآباد', 'اباذر',
       'شهرک پرواز', 'شمشیری', 'زنجان', 'سهروردی', 'شریف', 'آسمان',
       'شهرک پاسداران', 'سنایی', 'شهرک نفت (منطقه ۱)', 'هاشم\u200cآباد',
       'عارف', 'صالح\u200cآباد شرقی', 'شهر ری - عباس\u200cآباد',
       'کامرانیه', 'استخر', 'شکوفه', 'شهرک امام خمینی', 'نیلوفر',
       'کوی مهران', 'تجریش', 'ظفر', 'صفا', 'میرداماد',
       'صفائیه (چشمه علی)', 'ابوذر (منطقه ۱۵)', 'بهمن یار', 'حشمتیه',
       'اوقاف', 'کوی فراز', 'حسن\u200cآباد باقرفر', 'هزارسنگ',
       'شارق شرقی', 'اقدسیه', 'امین حضور', 'شهرک آپادانا', 'دبستان',
       'بازار', 'علی\u200cآباد', 'هوانیروز', 'جمهوری', 'نیرو هوایی',
       'ارامنه', 'سوهانک', 'ایرانشهر', 'فردوسی', 'خانی\u200cآباد',
       'دانشگاه علم و صنعت', 'کوثر', 'شهرک شریعتی', 'توانیر', 'شیوا',
       'پاتریس لومومبا', 'سعیدآباد', 'اراج', 'امامزاده قاسم', 'دزاشیب',
       'جوادیه تهرانپارس', 'سنگلج', 'دکتر هوشیار', 'ارم',
       'شهرک شهید باقری', 'ایران', 'فدک', 'طوس', 'جلیلی', 'شیان',
       'شهید دستغیب', 'جمال\u200cزاده', 'لویزان', 'باغ فردوس',
       'منصوریه (پل سیمان)', 'پرواز', 'زرکش', 'شهرک امید', 'سیزده آبان',
       'قلهک', 'شمیران\u200cنو', 'باغ خزانه', 'توحید', 'پرستار', 'شادمهر',
       'کوی هفدهم شهریور', 'شهرک ژاندارمری', 'مینابی', 'آذری', 'هفت چنار',
       'بهار', 'شهر ری - علائین', 'چهارصد دستگاه', 'جابری', 'سپهر',
       'اتحاد', 'حافظیه', 'اکباتان', 'کوی بیمه', 'دردشت', 'شهرآرا',
       'بهداشت', 'طیب', 'خواجه نظام الملک', 'جهاد', 'میدان انقلاب',
       'سرخه حصار', 'سرتخت', 'مینا', 'سیروس', 'شهرک دانشگاه تهران',
       'زهتابی', 'جماران', 'زاهد گیلانی', 'اوین', 'دربند', 'مجیدآباد',
       'قبا', 'شاهد', 'کاشانک', 'حکمت', 'فتح', 'شبیری', 'لشکر',
       'شهرک دریا', 'زیبادشت', 'گلاب دره', 'دانشگاه شریف', 'نصرت',
       'اسکندری', 'شهرک کوهسار', 'چیذر', 'شیرازی', 'بهجت\u200cآباد',
       'سرآسیاب دولاب', 'کاظم\u200cآباد', 'وصفنارد', 'شهرک آزادی',
       'قاسم\u200cآباد', 'پامنار', 'شهید رجایی', 'ده\u200cونک', 'آرارات',
       'امام سجاد(ع)', 'باغ آذری', 'امانیه', 'کوی نوبنیاد', 'دلگشا',
       'شهرک طالقانی', 'شهرک والفجر (منطقه ۶)', 'شهرک محلاتی',
       'شهرک مسلمین', 'سلامت', 'شاندیز', 'شهید اسدی', 'صد دستگاه',
       'بهاران', 'ائمه اطهار', 'خاقانی', 'مدائن', 'صاحب الزمان',
       'شهرک استقلال', 'نجات اللهی', 'مسگرآباد', 'شهید بروجردی',
       'شهرک تختی', 'آشتیانی', 'نبی اکرم(ص)', 'بیسیم', 'شهرک سینمایی',
       'شهرک صدرا', 'حصارک', 'حمزه\u200cآباد', 'دهقان', 'شهرک ابوذر',
       'ابراهیم\u200cآباد', 'شهرک دانشگاهی', 'تاکسیرانی', 'شهرک گلها',
       'شهرک شریفی', 'دانشگاه تهران', 'مقدم', 'کریم\u200cآباد',
       'شهید آوینی', 'قزل قلعه', 'حصار بوعلی', 'فرودگاه مهرآباد',
       'شهرک غزالی', 'باغ رضوان', 'شهرک آسمان', 'قصر فیروزه ۲',
       'شهرک امیرالمومنین'], dtype=object)

In [48]:
filtered_df['price'].unique()

array([2.400e+08, 4.000e+09, 2.270e+11, ..., 1.658e+10, 5.700e+06,
       5.387e+08])

In [49]:
df2021_filtered = df2021_filtered.dropna()

In [50]:
percentage_result = df2021_filtered.isnull().sum()/df2021_filtered.shape[0] * 100
column_type = [df2021_filtered[col].dtype for col in df2021_filtered.columns]
# create a DataFrame to show case the result
percentage_result = pd.DataFrame({"columns": percentage_result.keys(), "Type" : column_type ,"Total null" :  df2021_filtered.isnull().sum() ,"%": percentage_result.round(2) })
percentage_result.reset_index(drop=True, inplace=True)
cm = sns.light_palette("green", as_cmap=True)
percentage_result.style.background_gradient(cmap=cm , subset=['%']).format({'%': '{:.2f}'})

In [51]:
df2021_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126538 entries, 0 to 372297
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   area      126538 non-null  float64
 1   year      126538 non-null  float64
 2   room      126538 non-null  float64
 3   storage   126538 non-null  object
 4   parking   126538 non-null  object
 5   elevator  126538 non-null  object
 6   district  126538 non-null  object
 7   price     126538 non-null  float64
dtypes: float64(4), object(4)
memory usage: 8.7+ MB

In [52]:
df2021_filtered['Price/Meter'] = df2021_filtered['price'] / df2021_filtered['area']
df2021_filtered.columns = ['Area', 'Construction', 'Room', 'Warehouse', 'Parking', 'Elevator', 'District', 'Price', 'Price/Meter']

In [53]:
df2023['Year'] = '2023'
df2021_filtered['Year'] = '2021'
df2021_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126538 entries, 0 to 372297
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Area          126538 non-null  float64
 1   Construction  126538 non-null  float64
 2   Room          126538 non-null  float64
 3   Warehouse     126538 non-null  object
 4   Parking       126538 non-null  object
 5   Elevator      126538 non-null  object
 6   District      126538 non-null  object
 7   Price         126538 non-null  float64
 8   Price/Meter   126538 non-null  float64
 9   Year          126538 non-null  object
dtypes: float64(5), object(5)
memory usage: 10.6+ MB

In [54]:
dist_name =[]
unmatched_dist = []
for i in df2021_filtered['District'].unique():
    if i in df2023['District'].unique():
        dist_name.append(i)
    else:
        unmatched_dist.append(i)
        
unmatched_dist

['پرند',
 'شهر ری - هاشم\u200cآباد',
 'اندیشه',
 'پردیس',
 'رباط کریم',
 'شهریار',
 'ورامین',
 'شهر قدس',
 'لواسان',
 'رودهن',
 'فیروزکوه',
 'پاکدشت',
 'شهر ری - اقدسیه',
 'قرچک',
 'بومهن',
 'فشم',
 'شهر ری - شهرک شهید مفتح',
 'شهر ری - استخر',
 'پرواز',
 'شهر ری - تقی\u200cآباد',
 'شهرک استقلال',
 'شهر ری - عباس\u200cآباد',
 'شهر ری - علائین',
 'عبدالله\u200cآباد',
 'شهرک دانشگاهی']

In [55]:
df2023_finall  = df2023[['Year','Area', 'Construction', 'Room', 'Warehouse', 'Parking', 'Elevator', 'District', 'Price', 'Price/Meter']]
df2021_finall = df2021_filtered[['Year','Area', 'Construction', 'Room', 'Warehouse', 'Parking', 'Elevator', 'District', 'Price', 'Price/Meter']]

df2021_2023 = pd.concat([df2023_finall, df2021_finall], ignore_index=True)
  
df2021_2023 = df2021_2023[~df2021_2023['District'].isin(unmatched_dist)]

In [56]:
MostEpensive2023 = df2021_2023[df2021_2023['Year'] == '2023'].groupby('District').agg({  
    'Price/Meter': 'median',  
    'Room': 'median',  
    'Area': 'mean'  
}).reset_index()  

true_counts = df2021_2023[df2021_2023['Year'] == '2023'].groupby('District').agg({  
    'Warehouse': lambda x: (x == 'True').sum(),  
    'Elevator': lambda x: (x == 'True').sum(),  
    'Parking': lambda x: (x == 'True').sum()  
}).reset_index()  

total_counts = df2021_2023[df2021_2023['Year'] == '2023'].groupby('District').size().reset_index(name='Total')  
 
percentage_df = pd.merge(true_counts, total_counts, on='District')  
 
percentage_df['Warehouse%'] = ((percentage_df['Warehouse'] / percentage_df['Total']) * 100  ).round(1)
percentage_df['Elevator%'] = ((percentage_df['Elevator'] / percentage_df['Total']) * 100  ).round(1)
percentage_df['Parking%'] = ((percentage_df['Parking'] / percentage_df['Total']) * 100  ).round(1)

MostEpensive2023 = pd.merge(MostEpensive2023, percentage_df[['District', 'Warehouse%', 'Elevator%', 'Parking%']], on='District', how='left')  
 
MostEpensive2023 = MostEpensive2023.sort_values(by='Price/Meter', ascending=False)  

MostEpensive2023['DistaceOfMeadian'] = (MostEpensive2023['Price/Meter'] / df2023['Price/Meter'].median()).round(2)
MostEpensive2023['Price/Meter'] = MostEpensive2023['Price/Meter'] 
MostEpensive2023['Area'] = (MostEpensive2023['Area']).round(2)

In [57]:
MostEpensive2023.head(20)

,District,Price/Meter,Room,Area,Warehouse%,Elevator%,Parking%,DistaceOfMeadian
135,زعفرانیه,1.956522e+08,3.0,243.80,99.1,99.6,99.7,2.22
301,ولنجک,1.853000e+08,3.0,211.61,98.1,99.9,99.9,2.10
29,الهیه,1.843137e+08,3.0,249.85,98.3,98.9,99.1,2.09
259,محمودیه,1.798438e+08,3.0,228.34,98.0,99.7,100.0,2.04
316,کامرانیه,1.675676e+08,3.0,225.12,97.8,99.6,99.6,1.90
288,نیاوران,1.568627e+08,3.0,198.49,97.5,99.1,98.8,1.78
242,فرمانیه,1.568627e+08,3.0,210.36,99.0,99.5,99.0,1.78
294,هزارسنگ,1.566952e+08,3.0,159.50,100.0,100.0,100.0,1.78
94,حصار بوعلی,1.547009e+08,3.0,227.64,100.0,100.0,100.0,1.75
27,اقدسیه,1.535654e+08,3.0,222.46,97.8,99.1,99.1,1.74
117,دروس,1.500000e+08,3.0,198.33,96.6,99.6,98.2,1.70
50,باغ فردوس,1.458333e+08,3.0,212.94,94.3,97.1,100.0,1.65
34,امامزاده قاسم,1.456897e+08,3.0,197.22,95.9,95.9,98.6,1.65
46,ایوانک,1.454545e+08,3.0,142.21,84.2,100.0,100.0,1.65
2,آجودانیه,1.432107e+08,3.0,178.86,97.1,100.0,97.1,1.62
149,سعادت‌آباد,1.416667e+08,3.0,159.45,94.6,98.7,97.0,1.61
205,شهرک پاسداران,1.377286e+08,2.0,142.00,100.0,100.0,100.0,1.56
119,دریا,1.355932e+08,3.0,173.12,97.1,100.0,95.7,1.54
122,دزاشیب,1.355491e+08,2.0,151.67,94.7,98.7,94.7,1.54
97,حکمت,1.355042e+08,2.0,151.26,97.3,100.0,100.0,1.54

In [58]:

MostEpensive2021 = df2021_2023[df2021_2023['Year'] == '2021'].groupby('District').agg({  
    'Price/Meter': 'median',  
    'Room': 'median',  
    'Area': 'mean'  
}).reset_index()  

true_counts = df2021_2023[df2021_2023['Year'] == '2021'].groupby('District').agg({  
    'Warehouse': lambda x: (x == 'True').sum(),  
    'Elevator': lambda x: (x == 'True').sum(),  
    'Parking': lambda x: (x == 'True').sum()  
}).reset_index()  

total_counts = df2021_2023[df2021_2023['Year'] == '2021'].groupby('District').size().reset_index(name='Total')  
 
percentage_df = pd.merge(true_counts, total_counts, on='District')  
 
percentage_df['Warehouse%'] = ((percentage_df['Warehouse'] / percentage_df['Total']) * 100  ).round(1)
percentage_df['Elevator%'] = ((percentage_df['Elevator'] / percentage_df['Total']) * 100  ).round(1)
percentage_df['Parking%'] = ((percentage_df['Parking'] / percentage_df['Total']) * 100  ).round(1)

MostEpensive2021 = pd.merge(MostEpensive2021, percentage_df[['District', 'Warehouse%', 'Elevator%', 'Parking%']], on='District', how='left')  
 
MostEpensive2021 = MostEpensive2021.sort_values(by='Price/Meter', ascending=False)  

MostEpensive2021['DistaceOfMeadian'] = (MostEpensive2021['Price/Meter'] / df2021_filtered['Price/Meter'].median()).round(2)
MostEpensive2021['Price/Meter'] = MostEpensive2021['Price/Meter'] 
MostEpensive2021['Area'] = (MostEpensive2021['Area'] ).round(2)

In [59]:
MostEpensive2021.head(20)

,District,Price/Meter,Room,Area,Warehouse%,Elevator%,Parking%,DistaceOfMeadian
93,حصار بوعلی,1.193548e+08,3.0,262.67,100.0,100.0,100.0,3.76
134,زعفرانیه,9.090909e+07,3.0,205.01,98.4,95.9,98.0,2.87
29,الهیه,8.847856e+07,3.0,204.78,98.3,97.7,98.2,2.79
299,ولنجک,8.529412e+07,3.0,164.59,99.3,96.9,99.6,2.69
257,محمودیه,8.449519e+07,3.0,170.18,97.9,92.7,98.3,2.66
240,فرمانیه,8.000000e+07,3.0,199.39,98.9,97.4,98.0,2.52
314,کامرانیه,8.000000e+07,3.0,186.53,97.4,97.1,98.1,2.52
286,نیاوران,8.000000e+07,3.0,192.59,98.3,97.2,98.7,2.52
27,اقدسیه,7.800000e+07,3.0,188.58,97.5,97.2,99.0,2.46
49,باغ فردوس,7.303846e+07,3.0,204.68,92.9,92.9,92.9,2.30
116,دروس,7.179487e+07,3.0,174.60,98.1,94.0,96.8,2.26
45,ایوانک,7.147059e+07,3.0,137.55,100.0,90.0,100.0,2.25
76,جماران,7.068966e+07,3.0,150.68,96.8,100.0,100.0,2.23
2,آجودانیه,7.000000e+07,3.0,163.61,99.2,96.9,98.4,2.21
193,شهرک غرب,6.756522e+07,3.0,145.09,97.5,92.6,96.2,2.13
35,امانیه,6.700000e+07,2.0,147.92,94.9,89.7,97.4,2.11
312,کاشانک,6.504000e+07,2.0,138.77,91.5,89.4,93.6,2.05
96,حکمت,6.500000e+07,2.0,122.75,92.8,97.1,89.9,2.05
117,درکه,6.454545e+07,2.0,131.19,98.8,90.7,94.2,2.04
251,قیطریه,6.444444e+07,2.0,131.81,97.9,94.7,97.8,2.03

In [98]:
 
merged_df = pd.merge(MostEpensive2023, MostEpensive2021, on='District', suffixes=('_2023', '_2021'))  

# Calculate differences  
merged_df['Price/Meter_Diff'] = (merged_df['Price/Meter_2023'] - merged_df['Price/Meter_2021']  )
merged_df['Price/Meter_Growth'] =( (merged_df['Price/Meter_2023'] - merged_df['Price/Meter_2021']  )/ merged_df['Price/Meter_2021'] ).round(2)
merged_df['Price/Meter_TotalMedian'] =( (merged_df['Price/Meter_2023'] - merged_df['Price/Meter_2021']  )/ df2021_2023['Price/Meter'].median() ).round(2)
merged_df['Room_Diff'] = merged_df['Room_2023'] - merged_df['Room_2021']  
merged_df['Area_Diff'] = merged_df['Area_2023'] - merged_df['Area_2021']  
merged_df['Warehouse%_Diff'] = merged_df['Warehouse%_2023'] - merged_df['Warehouse%_2021']  
merged_df['Elevator%_Diff'] = merged_df['Elevator%_2023'] - merged_df['Elevator%_2021']  
merged_df['Parking%_Diff'] = merged_df['Parking%_2023'] - merged_df['Parking%_2021']  

# Select relevant columns for the final output  
result_df = merged_df[['District','Price/Meter_2021','Price/Meter_2023', 'Price/Meter_Diff','Price/Meter_Growth','Price/Meter_TotalMedian', 'Room_Diff', 'Area_Diff',  
                        'Warehouse%_Diff', 'Elevator%_Diff', 'Parking%_Diff']] 

result_df['Price/Meter_Diff'] = result_df['Price/Meter_Diff'].map(lambda x: f"{x:,.0f}")

In [61]:
result_df.sort_values(by='Price/Meter_Diff', ascending=False)

,District,Price/Meter_2021,Price/Meter_2023,Price/Meter_Diff,Price/Meter_Growth,Price/Meter_TotalMedian,Room_Diff,Area_Diff,Warehouse%_Diff,Elevator%_Diff,Parking%_Diff
2,الهیه,8.847856e+07,1.843137e+08,"95,835,169",1.08,1.77,0.0,45.07,0.0,1.2,0.9
3,محمودیه,8.449519e+07,1.798438e+08,"95,348,558",1.13,1.77,0.0,58.16,0.1,7.0,1.7
334,حسن‌آباد باقرفر,5.362319e+06,1.492857e+07,"9,566,253",1.78,0.18,0.0,2.41,-52.9,32.4,23.5
4,کامرانیه,8.000000e+07,1.675676e+08,"87,567,568",1.09,1.62,0.0,38.59,0.4,2.5,1.5
12,امامزاده قاسم,6.296296e+07,1.456897e+08,"82,726,692",1.31,1.53,0.0,21.10,7.9,11.9,14.6
...,...,...,...,...,...,...,...,...,...,...,...
0,زعفرانیه,9.090909e+07,1.956522e+08,"104,743,083",1.15,1.94,0.0,38.79,0.7,3.7,1.7
7,هزارسنگ,5.340909e+07,1.566952e+08,"103,286,066",1.93,1.91,0.5,41.50,0.0,0.0,0.0
1,ولنجک,8.529412e+07,1.853000e+08,"100,005,882",1.17,1.85,0.0,47.02,-1.2,3.0,0.3
329,مسگرآباد,9.634146e+06,2.000000e+07,"10,365,854",1.08,0.19,0.0,1.73,-80.0,80.0,0.0
326,نعمت‌آباد,1.200000e+07,2.227586e+07,"10,275,862",0.86,0.19,1.0,15.10,-0.9,11.5,6.1

In [62]:
# Calculate the quartiles  
Q1 = merged_df['Price/Meter_2023'].quantile(0.25)  
Q2 = merged_df['Price/Meter_2023'].quantile(0.50)  # This is also the median  
Q3 = merged_df['Price/Meter_2023'].quantile(0.75)  

# Calculate the Interquartile Range (IQR)  
IQR = Q3 - Q1  

# Print the results  
print(f"Q1: {Q1}")  
print(f"Q2 (Median): {Q2}")  
print(f"Q3: {Q3}")  
print(f"IQR: {IQR}")  

# Optionally, calculate margins  
margin_below_Q1 = Q1 - 1.5 * IQR  
margin_above_Q3 = Q3 + 1.5 * IQR  

print(f"Margin below Q1: {margin_below_Q1}")  
print(f"Margin above Q3: {margin_above_Q3}")

Q1: 44309262.16640502
Q2 (Median): 60172413.79310345
Q3: 90490079.36507937
IQR: 46180817.19867435
Margin below Q1: -24961963.631606504
Margin above Q3: 159761305.16309088

In [99]:
conditions = [  
    (result_df['Price/Meter_2023'] < Q1),  
    (result_df['Price/Meter_2023'] >= Q1) & (result_df['Price/Meter_2023'] < Q2),  
    (result_df['Price/Meter_2023'] >= Q2) & (result_df['Price/Meter_2023'] < Q3),  
    (result_df['Price/Meter_2023'] >= Q3)  
]  

choices = ['Very Low', 'Medium', 'High', 'Very High']  

result_df['Price_Category'] = np.select(conditions, choices)

In [64]:
result_df.head(10)

,District,Price/Meter_2021,Price/Meter_2023,Price/Meter_Diff,Price/Meter_Growth,Price/Meter_TotalMedian,Room_Diff,Area_Diff,Warehouse%_Diff,Elevator%_Diff,Parking%_Diff,Price_Category
0,زعفرانیه,9.090909e+07,1.956522e+08,"104,743,083",1.15,1.94,0.0,38.79,0.7,3.7,1.7,Very High
1,ولنجک,8.529412e+07,1.853000e+08,"100,005,882",1.17,1.85,0.0,47.02,-1.2,3.0,0.3,Very High
2,الهیه,8.847856e+07,1.843137e+08,"95,835,169",1.08,1.77,0.0,45.07,0.0,1.2,0.9,Very High
3,محمودیه,8.449519e+07,1.798438e+08,"95,348,558",1.13,1.77,0.0,58.16,0.1,7.0,1.7,Very High
4,کامرانیه,8.000000e+07,1.675676e+08,"87,567,568",1.09,1.62,0.0,38.59,0.4,2.5,1.5,Very High
5,نیاوران,8.000000e+07,1.568627e+08,"76,862,745",0.96,1.42,0.0,5.90,-0.8,1.9,0.1,Very High
6,فرمانیه,8.000000e+07,1.568627e+08,"76,862,745",0.96,1.42,0.0,10.97,0.1,2.1,1.0,Very High
7,هزارسنگ,5.340909e+07,1.566952e+08,"103,286,066",1.93,1.91,0.5,41.50,0.0,0.0,0.0,Very High
8,حصار بوعلی,1.193548e+08,1.547009e+08,"35,346,016",0.30,0.65,0.0,-35.03,0.0,0.0,0.0,Very High
9,اقدسیه,7.800000e+07,1.535654e+08,"75,565,413",0.97,1.40,0.0,33.88,0.3,1.9,0.1,Very High

In [100]:
import pandas as pd
import plotly.subplots as sp
import plotly.graph_objs as go

result_df['Price/Meter_Diff'] = pd.to_numeric(result_df['Price/Meter_Diff'].str.replace(',', ''))

# List of price categories to iterate through
price_categories = result_df['Price_Category'].unique()

# Create the subplots with 1 column and 4 rows
fig = sp.make_subplots(rows=4, cols=1, subplot_titles=price_categories,
                       vertical_spacing=0.2)

# Color palette for each plot
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728']

# Iterate through the price categories and plot the data
for i, category in enumerate(price_categories):
    row = i + 1
    
    # Filter top 15 districts for each price category
    top_15 = result_df[result_df['Price_Category'] == category].nlargest(15, 'Price/Meter_Diff')
    
    # Adding the bar plots for Price/Meter_2021 and Price/Meter_2023
    fig.add_trace(go.Bar(x=top_15['District'], y=top_15['Price/Meter_2021'], name='Price/Meter_2021',
                         marker_color=colors[i % len(colors)]), row=row, col=1)
    fig.add_trace(go.Bar(x=top_15['District'], y=top_15['Price/Meter_2023'], name='Price/Meter_2023',
                         marker_color=colors[i % len(colors)], opacity=0.6), row=row, col=1)
    
    # Adding line plot for Price/Meter_Growth
    fig.add_trace(go.Scatter(x=top_15['District'], y=top_15['Price/Meter_Diff'], mode='lines+markers',
                             name='Price/Meter_Diff', line=dict(color='black', dash='dash')), row=row, col=1)

# Update layout to adjust plot size, title, and legend
fig.update_layout(height=1400, width=1000, title_text="Top 15 Districts by Price Category (2021 vs 2023)",
                  showlegend=True)
fig.update_xaxes(tickfont=dict(size=15))

fig.add_annotation(dict(x=1.5, y=5.1, xref='x domain', yref='y domain',
                            text=f"<b>{category} Price Category</b><br>"
                                 f"<span style='color:{colors[i % len(colors)]};'>■ Price/Meter_2021</span> "
                                 f"<span style='color:{colors[i % len(colors)]}; opacity: 0.6;'>■ Price/Meter_2023</span> "
                                 "<span style='color:black;'>● Price/Price/Meter_Diff</span>",
                            showarrow=False, xanchor='center', yanchor='bottom', align='center'),
                     row=row, col=1)
# Show the plot
fig.show()

In [66]:
categories = result_df['Price_Category'].unique()  
top60 = pd.DataFrame()
# Loop through each category to get the top 15  
for category in categories:  
    top_entries = result_df[result_df['Price_Category'] == category].nlargest(15, 'Price/Meter_Growth')  
    top60 = pd.concat([top60, top_entries], ignore_index=True)  

# Display the top60 DataFrame  
top60['District'].to_excel('top60.xlsx')

In [75]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

price_categories = result_df['Price_Category'].unique()

# Create the subplots with 1 column and 4 rows
fig = sp.make_subplots(rows=4, cols=1, subplot_titles=price_categories,
                       vertical_spacing=0.2)

# Color palette for each plot
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728']

# Iterate through the price categories and plot the data
for i, category in enumerate(price_categories):
    row = i + 1
    
    # Filter top 15 districts for each price category
    top_15 = result_df[result_df['Price_Category'] == category].nlargest(25, 'Price/Meter_Diff')
    
    # Adding the bar plots for Price/Meter_2021 and Price/Meter_2023
    fig.add_trace(go.Scatter(x=top_15['District'], y=top_15['Price/Meter_Growth'], name='Price/Meter_Growth',mode='lines+markers',
                         marker_color=colors[i % len(colors)]), row=row, col=1)
    fig.add_trace(go.Scatter(x=top_15['District'], y=top_15['Price/Meter_TotalMedian'], name='Price/Meter_TotalMedian',mode='lines+markers',
                         marker_color=colors[i % len(colors)], opacity=0.6), row=row, col=1)

# Update layout to adjust plot size, title, and legend
fig.update_layout(height=1400, width=1400, title_text="Top 15 Districts by Price Category (2021 vs 2023)",
                  showlegend=True )
fig.update_xaxes(tickfont=dict(size=15))

In [90]:
Tehrandf = pd.read_excel('result_df.xlsx')
Tehran_SalesTraction = pd.read_excel('TehranData_SalesTraction.xlsx')

In [91]:
Tehrandf_60 = Tehrandf[Tehrandf['District Code'].isnull() == False]
Tehrandf_60['District Code'] = Tehrandf_60['District Code'].astype(int)
Tehrandf_60

,District,District Code,Price/Meter_2021,Price/Meter_2023,Price/Meter_Diff,Price/Meter_Growth,Price/Meter_TotalMedian,Room_Diff,Area_Diff,Warehouse%_Diff,Elevator%_Diff,Parking%_Diff,Price_Category
0,اباذر,5,3.983984e+07,9.743118e+07,57591344,1.45,1.07,0.0,16.72,-8.8,9.0,3.0,Very High
2,ابن بابویه,20,1.497126e+07,4.615385e+07,31182582,2.08,0.58,0.0,22.40,40.8,56.2,37.0,Medium
12,استخر,20,2.600000e+07,6.779661e+07,41796610,1.61,0.77,0.0,0.72,-3.7,18.9,16.6,High
23,امامزاده حسن(ع),17,1.481481e+07,4.305710e+07,28242286,1.91,0.52,1.0,4.88,-2.8,6.4,11.1,Very Low
28,امیریه,11,1.604409e+07,4.571429e+07,29670197,1.85,0.55,0.0,5.81,-42.5,39.4,5.7,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,نواب,10,1.516808e+07,4.384615e+07,28678075,1.89,0.53,0.0,6.78,-29.4,38.9,6.9,Very Low
319,نیلوفر,7,4.857740e+07,1.184167e+08,69839266,1.44,1.29,1.0,17.57,12.0,14.0,6.6,Very High
320,هاشم‌آباد,15,1.247642e+07,3.573214e+07,23255728,1.86,0.43,0.0,4.84,3.1,-7.9,5.3,Very Low
323,هزارسنگ,1,5.340909e+07,1.566952e+08,103286066,1.93,1.91,0.5,41.50,0.0,0.0,0.0,Very High
324,هفت چنار,10,1.715633e+07,5.119048e+07,34034142,1.98,0.63,0.0,4.34,-35.7,38.9,12.6,Medium

![alt text](<عيزوت  ت رهش قطانم ه هدش ماجنا تلاماعم دادعت زا مهس بسحرب نار رد دادرم هام  لاس 1-1.png>)

In [96]:
Tehran_SalesTraction['Transaction Amount(%)'] = ((Tehran_SalesTraction['Transaction Amount']/Tehran_SalesTraction['Transaction Amount'].sum())*100).round(2)
Tehran_SalesTraction

    District Code  Transaction Amount  Average Prive  Transaction Amount(%)
0               1                 197         1790.1                   5.38
1               2                 298         1373.0                   8.13
2               3                 175         1433.1                   4.77
3               4                 284          971.0                   7.75
4               5                 512         1064.1                  13.97
5               6                 156         1116.8                   4.26
6               7                 222          865.1                   6.06
7               8                 224          843.4                   6.11
8               9                 108          673.8                   2.95
9              10                 354          641.6                   9.66
10             11                 157          641.9                   4.28
11             12                  74          588.7                   2.02
12             13                 125          820.6                   3.41
13             14                 206          698.4                   5.62
14             15                 182          507.5                   4.97
15             16                  43          491.0                   1.17
16             17                  80          518.2                   2.18
17             18                  78          421.2                   2.13
18             19                  35          477.1                   0.95
19             20                  33          525.6                   0.90
20             21                  55          660.0                   1.50
21             22                  67          827.0                   1.83

In [103]:
DivarTehran_Data = pd.merge(Tehrandf_60 , Tehran_SalesTraction , how='inner' , left_on='District Code' , right_on='District Code')
DivarTehran_Data

,District,District Code,Price/Meter_2021,Price/Meter_2023,Price/Meter_Diff,Price/Meter_Growth,Price/Meter_TotalMedian,Room_Diff,Area_Diff,Warehouse%_Diff,Elevator%_Diff,Parking%_Diff,Price_Category,Transaction Amount,Average Prive,Transaction Amount(%)
0,اباذر,5,3.983984e+07,9.743118e+07,57591344,1.45,1.07,0.0,16.72,-8.8,9.0,3.0,Very High,512,1064.1,13.97
1,ابن بابویه,20,1.497126e+07,4.615385e+07,31182582,2.08,0.58,0.0,22.40,40.8,56.2,37.0,Medium,33,525.6,0.90
2,استخر,20,2.600000e+07,6.779661e+07,41796610,1.61,0.77,0.0,0.72,-3.7,18.9,16.6,High,33,525.6,0.90
3,امامزاده حسن(ع),17,1.481481e+07,4.305710e+07,28242286,1.91,0.52,1.0,4.88,-2.8,6.4,11.1,Very Low,80,518.2,2.18
4,امیریه,11,1.604409e+07,4.571429e+07,29670197,1.85,0.55,0.0,5.81,-42.5,39.4,5.7,Medium,157,641.9,4.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,نواب,10,1.516808e+07,4.384615e+07,28678075,1.89,0.53,0.0,6.78,-29.4,38.9,6.9,Very Low,354,641.6,9.66
58,نیلوفر,7,4.857740e+07,1.184167e+08,69839266,1.44,1.29,1.0,17.57,12.0,14.0,6.6,Very High,222,865.1,6.06
59,هاشم‌آباد,15,1.247642e+07,3.573214e+07,23255728,1.86,0.43,0.0,4.84,3.1,-7.9,5.3,Very Low,182,507.5,4.97
60,هزارسنگ,1,5.340909e+07,1.566952e+08,103286066,1.93,1.91,0.5,41.50,0.0,0.0,0.0,Very High,197,1790.1,5.38
61,هفت چنار,10,1.715633e+07,5.119048e+07,34034142,1.98,0.63,0.0,4.34,-35.7,38.9,12.6,Medium,354,641.6,9.66

In [105]:
DivarTehran_Data.to_excel('DivarTehran_Data.xlsx')

In [114]:
DivarTehran_Data = DivarTehran_Data.sort_values(by='Price/Meter_Growth',ascending=False)
price_categories = DivarTehran_Data['Price_Category'].unique()

# Create the subplots with 1 column and 4 rows
fig = sp.make_subplots(rows=4, cols=1, subplot_titles=price_categories,
                       vertical_spacing=0.2)

# Color palette for each plot
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728']

# Iterate through the price categories and plot the data
for i, category in enumerate(price_categories):
    row = i + 1
    
    # Filter top 15 districts for each price category
    top_15 = DivarTehran_Data[DivarTehran_Data['Price_Category'] == category]
    
    # Adding the bar plots for Price/Meter_2021 and Price/Meter_2023
    fig.add_trace(go.Bar(x=top_15['District'], y=top_15['Price/Meter_Growth'], name='(درصد رشد قیمت (نسبت به سال2021',
                         marker_color=colors[i % len(colors)]), row=row, col=1)
    
    # Adding line plot for Price/Meter_Growth
    fig.add_trace(go.Scatter(x=top_15['District'], y=top_15['Transaction Amount(%)'], mode='lines+markers',
                             name='میزان خرید و فروش در منطقه(نسبت به کل مناطق)', line=dict(color='#7e88c3', dash='dash')), row=row, col=1)

# Update layout to adjust plot size, title, and legend
fig.update_layout(height=1400, width=1000, title_text="Top 15 Districts by Price Category (2021 vs 2023)",
                  showlegend=True)
fig.update_xaxes(tickfont=dict(size=15))

# Show the plot
fig.show()

**توصیه میشود که در مناطق خانه خریداری شود که هم رشد قیمتی بالایی نسبت به سال 2021 دارند و هم درگیر رکود خرید و فروش نیستند 
مثلا با بودجه بسیار بالا بهتر است                                        در                                                                                                                                                       
 1.مرادآباد                                                                           
 2. شهرک کوهسار
3.جنت آباد                                                                                                                                                                        
 4. شهرک مفت و پونک خریداری شود**